profile_type: local

rabbitmq:
  host: localhost
  username: guest
  password: guest

postgres:
  host: REPLACE_WITH_POSTGRES_HOSTNAME
  password: REPLACE_WITH_POSTGRES_PASSWORD
  admin_username: REPLACE_WITH_POSTGRES_ADMIN_USERNAME
  admin_password: REPLACE_WITH_POSTGRES_ADMIN_PASSWORD

# uncomment this section and provide hostnames if ZooKeeper is to be
# used -- this is required for supporting multiple instances of CEI
# services.
#
#zookeeper:
#  hosts: [zk1:2181, zk2:2181, zk3:2181]

# The local launch relies on a local installation of coi-services. It must
# be built and interfaces must be generated. Put the path to this directory
# in this variable. You may use ~, but not environment variables in the path.
pyon_path: /path/to/coi-services

# the launch populates a pyon.yml template file and injects it into the
# launched containers in the system. If you set this value to a local
# path, the launch will also write the pyon config there. This is useful
# for running tests or preload steps against a launched environment.
# For example you might write directly to pyon.local.yml in a coi-services
# source tree:
#
#     pyon_config_output: ~/code/coi-services/res/config/pyon.local.yml

pyon_config_output: ""
